<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="View.Properties.Settings.Banco_FinalConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Banco_Final;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>